html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.nextra-breadcrumb {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flexRow {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flexRowImage {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-top: 23px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  margin-left: 0rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 250px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .flexRow {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
  .flexRowImage {
    width: 300px;
    height: 300px;
    margin-right: 0px;
    margin-top: 23px;
  }

  .card {
    width: 100%;
    max-width: 100%;
    margin-right: 0rem;
  }
}
