# OSX
.DS_Store

# Node Module
node_modules/

# assets/
assets/

# docs
docs/

# Example
example/
expo-example/
app/
#gifs
gifs/
index.tsx
src/
!dist/src
README.md
tsconfig.json
.github/
.prettierrc.js
.eslintrc.js
package-lock.json

